{% load static i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}USA_GreenCard{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    <link href="{% static 'css/lists.css' %}" rel="stylesheet">


  {% endblock %}

</head>

<body>

<div class="mb-1">
  <nav class="navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse nav-style" id="navbarSupportedContent">
      <div class="col-sm-7"></div>
      <div class="col-sm-2"></div>
      <div>
        <a class="nav-link" href="{% url 'pages_app:register' %}">Register <span class="sr-only">(current)</span></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="col-sm-12">
      <h1 class="col-sm-12" style="padding: 15px">
        <img class="logo-style" src="{% static 'images/logo.png' %}">
      </h1>
    </div>
  </div>

  <div class="header-bottom" style="position: relative;margin-bottom: -4px">
    <div class="header-bottom-inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="site-navigation-pull-right">
              <nav class="main-menu" style="display: block">
                <ul class="list-inline" style="display: inline">
                  <li class="nav-list"><a href="{% url 'pages_app:contact' %}">Contact Us</a></li>
                  <li class="nav-list dropdown">
                    <a href="{% url 'pages_app:dv-program' %}">The DV Program</a>
                    <ul>
                      <li><a href="{% url 'pages_app:requirements' %}">Requirements</a></li>
                      <li><a href="{% url 'pages_app:how_to_reg' %}">How to register with usagreencard.online</a></li>
                    </ul>
                  </li>
                  <li class="nav-list dropdown">
                    <a href="{% url 'pages_app:about' %}">About Us</a>
                    <ul>
                      <li><a href="{% url 'pages_app:green_card_process' %}">The green card process with usagreencard.online</a></li>
                      <li><a href="{% url 'pages_app:advantages' %}">usagreencard.online advantages</a></li>
                      <li><a href="{% url 'pages_app:private_entity' %}">Private entity</a></li>
                      <li><a href="{% url 'pages_app:testimonials' %}">Testimonials</a></li>
                    </ul>
                  </li>
                  <li class="nav-list"><a href="{% url 'pages_app:home' %}">Home</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% block content %}

{% endblock %}
<footer class="site-footer">
  <div class="container animated fadeIn">
    <div class="row">
      <div class="site-footer-inner col-sm-12 clearfix">
        <div class="col-sm-4">
          <h3>About usagreencard.online</h3>
          <p>We provide our clients with a secure way to register for the
            United States Green Card Program. Our no-fail system ensures that
            non-American natives will be easily able to submit their
            application forms online within the relevant time frame.
          </p>
        </div>
        <div class="col-sm-4">
          <h3>Register with usagreencard.online</h3>
          <p>We provide our clients with a secure way to register for the
            United States Green Card Program. Our no-fail system ensures that
            non-American natives will be easily able to submit their
            application forms online within the relevant time frame.
          </p>
        </div>
        <div class="col-sm-4">
          <h3>Contact Us</h3>
          <span style="font-size: 10px">
            <i class="fa fa-phone">
               Phone: +1-888-552-5080
            </i>
          </span>
          <br>
          <span style="font-size: 12px">
            <i class="fa fa-enveloper">
              <span>Email: </span>
              <a style="color: white;text-decoration: underline;" href="mailto:support@usagreencard.online">support@usagreencard.online</a>
            </i>
          </span>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="container">
      <div class="site-info" align="center">
        <a href="{% url 'pages_app:privacy_policy' %}">Privacy Policy</a>
        |
        <a href="{% url 'pages_app:terms_conds' %}">Terms and Conditions</a>
        <br>
        <a href="{% url 'pages_app:home' %}">usagreencard.online</a>
        is owned and operated by USA immigration consulting.
        <br>Our office is located in Franklin Avenue Garden City, NY 11530
      </div>
    </div>
  </div>
</footer>

{% block javascript %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

  <!-- Your stuff: Third-party javascript libraries go here -->


  <!-- place project specific Javascript in this file -->

  <script src="{% static 'js/project.js' %}"></script>


{% endblock javascript %}
</body>
</html>

