{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <img class="bg-style" src="{% static 'images/3-banner.webp' %}">
  <div class="container">
    <h1 class="title-style">The DV Program</h1>
    <div class="row">
      <div class="col-sm-4">
        <img src="{% static 'images/the-green-card-program-section--banner-1.png' %}">
      </div>
      <div class="col-sm-8">
        <h5 style="border-bottom: black dashed 1px;">The Green Card, DV Programe</h5>
        <p>The U.S. State Department, every year, run a computer drawing to randomly select winners from a pool
          of applicants who apply for the U.S. Green card or Diversity Visa Program. It allows people from
          different countries to legally work, live, study, invest or conduct business in the United States.
        </p>

        <p>This program was originally designed to help individuals from the countries that had the lowest
          representation in the United States and bring them in. If less than 50,000 immigrants had arrived in a
          U.S. State in the past five years, it is considered to be under-represented. During that time period, the
          countries with a higher rate of immigration to the U.S. are ruled out of the Diversity Visa Program.
        </p>
        <p><strong>Why this program is called Diversity Visa?</strong></p>
        <p>When a foreign national wins the Diversity Visa Lottery, an immigrant visa is granted at first and only
          after that, a green card can be issued.
        </p>
        <p>Once the immigrant visa is issued, the green card is granted after the proper and complete submission
          of the supporting documents and the winner go through the required personal interview by a U.S,
          government official.
        </p>
        <p>
          Do keep in mind that winning the DV lottery does not guarantee that you will get the Green Card as
          winners still have to meet all the other requirements in order to be eligible for the permanent residency
          in the United States. So, winning the lottery will pave your path to enter the U.S if you meet all the other
          requirements.
        </p>
      </div>
    </div>
    <div class="col-sm-12 dashed-style"></div>
    <div>
      <div class="wpb_wrapper"><p><a class="btn btn-primary" href="https://usagreencard.online/profile/register/">Are
        You
        Eligibile for a Green Card ?&nbsp;</a></p>
        <div style="height: 20px;"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h5 style="border-bottom: dashed 1px black">History of the DV Program</h5>
        <p>Just like some other similar ideas, the diversity visa program was permanently established back in 1995.
          Under this program, the United States government agreed to give 55,000 visas to the winners of the
          Green Card Program. The number of visas awarded eventually increased to 95,000 at one point and then
          reduced to 50,000 again.
        </p>
        <p>When the NACARA (Nicaraguan and Central American Relief) law was passed, it was decided that there
          would be an additional 5000 visas to benefit the people under this program. Therefore, a total number
          of 55,000 visas are awarded now under this program each year. The main 50,000 visas will be
          mentioned in this discussion and the additional 5000 visas issued under NACARA will not be included.</p>
      </div>

      <div class="col-sm-4">
        <img src="{% static 'images/the-history-of-the-program-section-banner-2.png' %}">
      </div>
    </div>
    <div class="col-sm-12 dashed-style"></div>
    <div style="margin-bottom: 50px" class="row">
      <div class="col-sm-4">
        <img src="{% static 'images/how-many-diversity-visa-section-banner-3.png' %}">
      </div>
      <div class="col-sm-8">
        <h5 style="border-bottom: black dashed 1px;">How Many Winners of Diversity Visa Are There Annually?</h5>
        <p>The total number of Visas available annually, as discussed, is 50,000 under the DV program but the
          number of applicants that are initially selected as a winner is twice that number; approximately
          100,000. Due to NACARA, the actual number of winners selected was 105,628 for DV-2013.</p>
        <p><strong>Why is there more winners than the available visas for this program?</strong></p>
        <p>As evident from the past record of this program, almost half of the winners usually fail to qualify and
          get their visas in the next phase of this program such as in an interview or in completing the
          documentation process. There also are a number of people who decide not to get the immigrant visas
          and are eventually filtered out of the list of winners.
        </p>
        <p>Moreover, each person in the immediate family of the Principal Applicant receives one of the available
          visas out of 50,000 despite the fact that only one winner is chosen per family.
        </p>
      </div>
    </div>
    <div class="col-sm-12 dashed-style"></div>
    <div class="row" style="margin-bottom: 50px">
      <div class="col-sm-8">
        <h5 style="border-bottom: dashed 1px black">Program system of Today</h5>
        <p>There is no random basis of granting the visas as there are six groups of geographic regions in which the
          visas are divided. This is to make sure that there is no more than 7% or 3500 visas out of the total 50,000
          that are granted to the winners of the same country.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="{% static 'images/todays-program-system-section-banner-4.png' %}">
      </div>
    </div>

  </div>
{% endblock %}
