{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <img class="bg-style" src="{% static 'images/3-banner.webp' %}">
  <div class="container">
    <h1 class="title-style">Requirements</h1>
    <div class="row">
      <div style="float: left" class="col-sm-2">
        <div class="wpb_wrapper">
          <div  class="wpb_text_column wpb_content_element ">
            <div  class="wpb_wrapper">
              <div  align="center"><h2
                      style="-webkit-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -webkit-border-radius: 66px; -moz-border-radius: 66px; border-radius: 66px; color: #fff; text-align: center; background: #0364db; max-width: 128px; padding: 43px 0px; margin: 0px;">
                <strong>STEP 1</strong></h2></div>
            </div>
          </div>
          <div  class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
      <div style="float: left" class="col-sm-10">
        <div style="border-bottom: black dashed 1px"><strong>Are you (or your spouse) eligible?</strong></div>
        <p>In order to be eligible for the Diversity Visa program, you must:</p>
        <p>1. Be a native of one of the qualifying countries</p>
        <p>2. Have at least a secondary school education or your country’s equivalent to an American high-school diploma</p>
        <p>3. Have at least two years of training or professional experience in a skilled trade in the past five years</p>
        <p>In order for a skill to be acknowledged as a skilled trade, the duration of the occupation in practice
          (e.g. training or experience) must be no less than 2 years.</p>
        <p>Please note: If you were born in a non- eligible country, you will not be able to apply for the
          DV program unless either your spouse is from an eligible country, or if your parents were born in an
          eligible country.</p>
      </div>
      <div class="col-sm-12 dashed-style"></div>
       <div style="float: left" class="col-sm-2">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div align="center"><h2
                      style="-webkit-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -webkit-border-radius: 66px; -moz-border-radius: 66px; border-radius: 66px; color: #fff; text-align: center; background: #0364db; max-width: 128px; padding: 43px 0px; margin: 0px;">
                <strong>STEP 2</strong></h2></div>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
      <div style="float: left" class="col-sm-10">
        <div style="border-bottom: black dashed 1px"><strong>Complete the EDV</strong></div>
        <p>Once you have determined whether you, your spouse, or both of you are eligible to apply to the program,
          you will be required to complete our Electronic Diversity Visa Entry Form (EDV).
          Our experienced immigration agents will provide you with complete step-by-step support and guidance
          throughout the entire process in order to ensure that everything is being done properly. Once we will
          process your EDV we will provide you with an electronic confirmation number which will be issued to us
          by the State Department.
        </p>
        <p>In addition to this, we will also be monitoring the status of your application regularly to ease your
          pressure and we will keep you updated via the contact method you selected while registering with us
          which could be the phone, email or postal mail.</p>
      </div>

      <div class="col-sm-12 dashed-style"></div>
       <div style="float: left" class="col-sm-2">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div align="center"><h2
                      style="-webkit-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -webkit-border-radius: 66px; -moz-border-radius: 66px; border-radius: 66px; color: #fff; text-align: center; background: #0364db; max-width: 128px; padding: 43px 0px; margin: 0px;">
                <strong>STEP 3</strong></h2></div>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
      <div style="float: left" class="col-sm-10">
        <div style="border-bottom: black dashed 1px"><strong>(If You Win) decide whether you will adjust your status in the US or apply for an immigrant visa outside the United States </strong></div>
        <p>If you are already residing in the United States by having a working visa for instance, you can
          either (a) apply to adjust your status from there; meaning, to request an immigrant visa in order
          to receive your green card in the United States, or (b) to return to your home country and do it
          from there.
        </p>
        <p>If you were to choose to return to your home country and do your immigrant visa there, you will
          have to schedule an interview at your local United States Consulate.
        </p>
        <p>If you are a lottery winner and you live in the United States at that time, one of our immigration lawyers
          will contact you in order to determine whether you are eligible to submit an application
          to adjust your status.
        </p>
      </div>

      <div class="col-sm-12 dashed-style"></div>
       <div style="float: left" class="col-sm-2">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div align="center"><h2
                      style="-webkit-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -webkit-border-radius: 66px; -moz-border-radius: 66px; border-radius: 66px; color: #fff; text-align: center; background: #0364db; max-width: 128px; padding: 43px 0px; margin: 0px;">
                <strong>STEP 4</strong></h2></div>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
      <div style="float: left" class="col-sm-10">
        <div style="border-bottom: black dashed 1px"><strong>Get Yourself Prepared for the Interview</strong></div>
        <p>If you are chosen as a winner then the next step is your interview with an examining officer.
          The interview will be held at the local American Consulate in your country by an official. Usually,
          the information you have provided on your application is verified in the interview, and you will be
          notified of the acceptance or denial of your application by the end of the day.</p>
        <p>If you are a resident of the US and you filed a request to adjust your status as a greencard
          holder then an immigration officer of the USCIS (United States Citizenship and Immigration Services)
          will invite you to an interview.</p>
        </p>
      </div>

          <div class="col-sm-12 dashed-style"></div>
       <div style="float: left" class="col-sm-2">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div align="center"><h2
                      style="-webkit-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -moz-box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); box-shadow: inset 0px 0px 9px 3px rgba(0,0,0,0.75); -webkit-border-radius: 66px; -moz-border-radius: 66px; border-radius: 66px; color: #fff; text-align: center; background: #0364db; max-width: 128px; padding: 43px 0px; margin: 0px;">
                <strong>STEP 5</strong></h2></div>
            </div>
          </div>
          <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
        </div>
      </div>
      <div style="float: left" class="col-sm-10">
        <div style="border-bottom: black dashed 1px"><strong>If you have successfully completed all the steps, the next thing is to enter the United States.</strong></div>
      </div>
    </div>
  </div>
{% endblock %}
