{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <img class="bg-style" src="{% static 'images/bg-logo.jpeg' %}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div style="float: left" class="col-sm-6">
          <h1>
            <strong>USAGreenCard.Online website, welcome you to the Diversity Visa (US) program.</strong>
          </h1>
          <p>Here, you will find detailed information about our Diversity Visa (DV)
            Program and learn how it can help you to start your new life in America.
          </p>
          <p>
            * Please be advised: You will not be able to use our services until you have
            read and agreed to the terms and conditions. In order to confirm your
            consent of the terms herein, please click the “I Agree” button.
          </p>
          <p>
        <span>
          For the purposes of this agreement, a “registered user” refers to the individual from whom
        </span>
            <i>Green Card Winners</i>
            <span> has received the information it requires in order to complete and submit the immigration forms, and who
            has fully complied with the </span>
            <a href="#">terms and conditions</a>
          </p>
        </div>
        <div style="float: left" class="col-sm-6">
          <p>
            <img src="{% static 'images/green-card-banner-section.jpg' %}">
          </p>
        </div>
      </div>
      <div align="center" class="col-sm-12 btn-elig">
        <a class="btn btn-primary" href="https://usagreencard.online/profile/register/">Check My Eligibility&nbsp;
        </a>
      </div>
      <div class="vc_col-sm-12 wpb_column vc_column_container ">
        <div class="wpb_wrapper">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <div class="boxedcont row">
                <div class="col-sm-4">
                  <div align="center">
                    <img class="aligncenter wp-image-1578 size-full" title="greencardprocess"
                         src="{% static 'images/green-card-process.jpg'%}" alt=""
                         width="365" height="165"
                         sizes="(max-width: 365px) 100vw, 365px"></div>
                  <div style="height: 20px;"></div>
                  <div><h2 style="text-align: center;"><strong>Green Card Process</strong></h2>
                    <p>You must be a native of a qualifying, visa-eligible country. That is, you must have been born in
                      one of those countries. You must also have at least two years of training or experience in a
                      skilled occupation.</p>
                    <div style="position: relative; top: 25px;" align="center">
                      <a class="btn btn-primary"
                         href="#">Read
                        more
                      </a>
                    </div>
                    <div style="height: 20px;"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div align="center"><img class="aligncenter wp-image-1576 size-full" title="whoweare"
                                           src="{% static 'images/who-we-are.jpg' %}" alt=""
                                           width="365" height="165"
                                           sizes="(max-width: 365px) 100vw, 365px"></div>
                  <div style="height: 20px;"></div>
                  <div><h2 style="text-align: center;"><strong>Who We Are</strong></h2>
                    <p>usagreencard.online&nbsp;is a specialized immigration company that is dedicated to providing
                      non-American natives with the most up-to-date information regarding the U.S. immigration laws,
                      regulations and requirements, in particular about the United States Green Card Program.</p>
                    <div align="center"><a class="btn btn-primary" href="https://usagreencard.online/about-us/">Read
                      more</a></div>
                    <div style="height: 20px;"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div align="center"><img class="aligncenter wp-image-1574 size-full" title="immigration"
                                           src="{% static 'images/immigration.jpg' %}" alt=""
                                           width="365" height="165"
                                           sizes="(max-width: 365px) 100vw, 365px"></div>
                  <div style="height: 20px;"></div>
                  <div><h2 style="text-align: center;"><strong>Immigration</strong></h2>
                    <p>The term “Immigration and Naturalization” is a general term used to describe the procedure of
                      assimilation into the United States. In other words, it is the process by which those of a
                      nationality or country.</p>
                    <div style="position: relative; top: 25px;" align="center"><a class="btn btn-primary"
                                                                                  href="https://usagreencard.online/the-dv-program/">Read
                      more</a></div>
                    <div style="height: 20px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="margin: 50px 0 50px 0" class="vc_row wpb_row vc_row-fluid">
        <div class="vc_col-sm-12 wpb_column vc_column_container ">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <h2 style="text-align: left;">
                  <img class="alignnone size-full wp-image-16"
                       src="{% static 'images/testimonialheader-icon.webp' %}"
                       alt="testimonialheader-icon" width="76"
                       height="76" align="absmiddle"> Testimonials
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12" style="background-color: lightgray;padding: 20px">
        <div>
        <img src="{% static 'images/mystery-person.png' %}" style="border-radius: 10px;width: 52px;height: 52px">
          <span>Gennifer L., Bulgaria</span>
        </div>
        <div>
          <span>Thank you, usagreencard.online for helping me make my way into the US. Can’t wait to start my new life!</span>
        </div>
        <div>
          <span>September 2, 2015</span>
        </div>
      </div>
      <div class="col-sm-12" style="margin-bottom: 50px;">
        <span style="float: left"><< Prev</span>
        <span style="float: right">Next >></span>
      </div>

    </div>
  </div>

  <div >

  </div>

{% endblock %}
