{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <img class="bg-style" src="{% static 'images/4-banner.webp' %}">
  <div class="container">
    <h1 class="title-style">Privacy Policy</h1>
    <div class="row">
      <div class="col-sm-12">
        <p>Information Collection and Use</p>
        <hr>
        USAGREENCARD.ONLINE is the only possessor of all the information you provide on the website. <a
              href="{% url 'pages_app:home' %}">usagreencard.online</a>
        will not share, sell, or give this information to anyone in any other way than the ones already disclosed in
        this document. <a href="{% url 'pages_app:home' %}">usagreencard.online</a> gets information from its clients at
        several points on its website. Personal
        Email addresses are also obtained to communicate easily with the clients and the <a
              href="{% url 'pages_app:home' %}">usagreencard.online</a>
        <hr>
        <p>What personal information do we collect from the people that visit our blog, website or app?</p>
        <hr>
        <p>
          When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address,
          phone number, country of birth, residence, marital status, Gender, English level, Education Level, Income, Age
          or other details to help you with your experience.</p>
        <hr>
        <p>When do we collect information?</p>
        <hr>
        <p>We collect information from you when you register on our site, place an order, fill out a form or enter
          information on our site.</p>
        <hr>
        <p>How long a merchant store a customer’s personal info?
          As long as their Application is in process with us.</p>
        <hr>
        <p>Order</p>
        <hr>
        <p>Usagreencard.online ask for information from the users on order form. Every user is asked to provide the
          personal information and contact details (such as name and address) and also the financial information like
          credit card numbers and expiration date. The information provided by the user is used to fill the orders of
          the customer and for billing purposes. In case Usagreencard.online have trouble with processing any order, it
          gets in touch with the user via the contact details provided. Usagreencard.online uses the information
          provided by the user for other purposes as well.</p>
        <hr>
        <p>Use of Cookies</p>
        <hr>
        <p>Usagreencard.online store information and use cookies to do that and gather information. Cookies are
          basically the piece of data a website transfers to the computer of the user just for the purposes of record
          keeping. Use of cookies helps the Usagreencard.online to make its software more useful to its users by storing
          information specifically based on your preferences. Use of cookies is an industry standard and there is
          nothing unusual in their use by the website. They will identify your computer but it won’t identify you. The
          browsers are usually set up in a way where they accept cookies, but it can also be set to refuse them. If you
          choose to refuse cookies, you may not be able to take full advantage from the website of Usagreencard.online.
          The organization, Usagreencard.online, is not liable or for any of the failure in your computer due to the use
          of cookies.</p>
        <hr>
        <p>Log Files</p>
        <hr>
        <p>Usagreencard.online also uses IP addresses to scrutinize trends, gather broad demographic information, govern
          the site, and track the movement of the users for aggregate use. In no way are these IP addresses associated
          with personally recognizable info.</p>
        <hr>
        <p>Sharing</p>
        <hr>
        <p>Usagreencard.online also shares information such as aggregated demographic info with partners. Any individual
          person cannot be identified with linked personal information. The organization, Usagreencard.online, use a
          shipping company from outside and a credit card processing company too to bill its users for services. These
          companies are not subjected to sharing, retaining or storing any personally identifiable information for any
          other purposes. Usagreencard.online provides specific services by partnering with another party. When the user
          signs up for using any of these services, the organization share the necessary information such as contacts or
          names that are required by the other party to provide these services. These parties, except for the purpose of
          providing these services, are not allowed in any way to use personally identifiable information.</p>
        <p>Links</p>
        <hr>
        <p>The website also contains links and directs you to other websites. Kindly understand that the organization is
          not accountable for the privacy policies of any of the other websites. Usagreencard.online encourages its
          users to read the privacy policy and statements of each website that tends to collect any personal
          information.
          This privacy declaration is only for the Usagreencard.online and also the data collected by the Web Site of
          Usagreencard.online.</p>
        <hr>
        <p>Surveys and Contest</p>
        <hr>
        <p>The organization, Usagreencard.online, requests information from its users at regular intervals of time via
          surveys and contests. It is totally voluntary to participate in these surveys or contests so users have a
          choice if they want to participate and disclose that information. The requested information may also include
          contact information such as the addresses or names of the participants, and also the demographic information
          such as the age level or zip code of the participants. Contact information acquired is used to notify the
          users of the results and to inform the winners of the award prizes. The information obtained through surveys
          and is only used for the purpose of improving the site for the satisfaction of the users.</p>
        <hr>
        <p>Emails</p>
        <hr>
        <p>As per the CAN-SPAM Act. The requirements of obtaining the email addresses of the customers are only through
          freely giving the emails during the registration process of usually in step 1. The registration process is
          considered to be a request from the Usagreencard.online to obtain additional information from the client for
          the service. Emails are sent to help the clients with the registration process once the client has paid for
          the services. The emails are sent to update the client about the registration process and to verify that if
          the information has been entered correctly, or the photos have been uploaded successfully. Clients may also
          receive additional emails regarding services and offers by the Usagreencard.online and the clients have the
          choice to not receive those emails by opting out and unsubscribing the emails by clicking at the link provided
          at the bottom of each email. The client can also send an email, call the organization or fax the team
          requesting the subscription from the additional emails from the Usagreencard.online.</p>
        <hr>
        <p>Choice/Unsubscribe</p>
        <hr>
        <p>The clients of Usagreencard.online always have a choice to opt out of receiving the emails at any time. The
          request will be honored by the organization within the next seven business days. Also, opting out of receiving
          our messages can also be done if a user would like just by sending a request by email to
          support@Usagreencard.online or you can also call us or send a letter to our postal address. The privacy of our
          clients is taken very seriously at the Usagreencard.online.</p>
        <hr>
        <p>Telephone Number</p>
        <hr>
        <p>The contact numbers or telephone numbers are also obtained from the customers only if they freely give their
          numbers. Obtaining the telephone number is considered as a request from the organization for additional
          information about the service. Opting out of telephone service can be done by clicking the unsubscribe link
          which is provided at the bottom of each email, or by fax or telephone or sending an email to the organization.
          The clients may receive phone calls after the payment of the service to assist them with the registration
          process to make sure all the details of the process are correct and updating about the registration process
          such as the verification of photos being uploaded successfully and also for the additional services.</p>
        <hr>
        <p>Tell a Friend</p>
        <hr>
        <p>The organization also have a referral service if a client decides to inform a friend about the service. The
          organization asks the name of the friend and email address to send them a one-time email which invites them to
          visit the site. After that, the emails will only be sent to the friend if he registers with the
          <a href="{% url 'pages_app:home' %}">usagreencard.online</a> for his own accord. Also, the friend can request
          to remove his information from the
          database by contacting the organization.</p>
        <hr>
        <p>Security</p>
        <hr>
        <p>The information of the users is protected and the website takes every precaution in this regard. When the
          sensitive information is submitted on the website by the users, that information is protected online as well
          as offline. The lock icon on the bottom of browser such as on Internet Explorer becomes locked while on a
          secure page like the payment reply form. The official website of Usagreencard.online specializes in the
          registration process for its clients all over the world for the Diversity Visa program. Users are advised to
          take precautions will registering with the Usagreencard.online so they do not register with any other site
          that pretends to be like Usagreencard.online. The users should check that Usagreencard.online is written on
          the top of the browser to verify it’s the right place.</p>
        <hr>
        <p>Special Offers</p>
        <hr>
        <p>A welcoming email is sent to all the new members to verify their username and password. On the other hand,
          the established members receive information on services, special deals and also a newsletter. The organization
          respect the privacy of its users and the users are presented with the option of opting out if such
          communications.</p>
        <hr>
        <p>Updating or Correcting Personal Information</p>
        <hr>
        <p style="margin-bottom: 50px">The organization, Usagreencard.online, allow its users to update, correct or, if they do not desire the
          services any longer, remove the personal data of the user provided to the Usagreencard.online. Users are
          allowed to make changes if their personally identifiable information changes. It can be done from the member
          information page or by emailing the customer support of Usagreencard.online.</p>
      </div>
    </div>
  </div>
{% endblock %}
