{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <img class="bg-style" src="{% static 'images/2-banner.webp' %}">
  <div class="container">
    <h1 class="title-style">Terms and Conditions</h1>
    <div class="row">
      <div class="col-sm-12">
        <h5><strong>Terms & Agreements</strong></h5>
        <hr>
        <p>The document below is the Legal statement and Acceptable Use Policy
          for the score website which is the property of and run by Amerigo Marketing LTD,
          Athinon 82, Limassol 3040, Cyprus.</p>
        <p>
          “Usagreencard.online” includes the company’s any subsidiaries, affiliations, divisions,
          representatives, agents, managers, employs or working directly or indirectly for the company.</p>
        <h5><strong>General</strong></h5>
        <hr>
        <p>Our services may only be used by you after you have gone through,
          understood and confirmed to the said terms of this agreement.
          You have to show your validation of this agreement and its constituent
          terms by clicking on the “I Agree” button. The terms “user”, “your”,
          and “you” are the same in the case of this agreement and used for anybody
          that in any manner, uses our services.</p>
        <p>Someone whose required data to allow him/her to submit immigration form through the services has
          been received by Usagreencard.online, may become a registered user. Following
          the terms and conditions of the agreement is mandatory on that person.</p>
        <p>Whoever that has access to the Internet can use and access, from anywhere on the globe
          , any of the services provided by the Usagreencard.online. The use of the services and access to
          the website are governed by the terms and conditions of this agreement also by the copyright
          and trademark laws. By using this site and any of our services you agree to all the terms and
          conditions of this agreement and copyright and trademark laws without any omissions or limitations.
          It is allowed for Usagreencard.online and its affiliates to make amends to the terms and condition
          at any time. You show your agreement to any amends in the terms and conditions by continuing the use
          of the website and services after the amendments appear to the screen.</p>
        <p>The client bears the responsibility for all the terms and condition of the transactions made using or
          as a result of the site and services. All terms about shipping, warranties, all fees and taxes,
          duty charges, governmental levies, licensing fees, fines, title, permits, and returns in addition
          to the charged fees for using services of the company are also included in the client’s responsibility.</p>
        <p>The client hereby agrees to pay any taxes or duties to Usagreencard.online if
          the law mandates the collection or to withholding of any.</p>
        <p>The laws of the Cyprus govern this website.</p>
        <h5><strong>Limited Warranty</strong></h5>
        <hr>
        <p>The company promise no warranties of any sorts regarding the organizations,
          government agencies or any individual named in the services or the websites,
          express or implied. This also refers to the warranties given regarding fitness
          or title for any purpose. Warranties that cannot be omitted, amended, or restricted
          under the laws regarding the agreement are exceptions. The company and its affiliates
          are not liable for enforcing that the opinions, statements or advice given regarding
          other organizations or agencies is right or accurate. You also acknowledge, by agreeing
          to this agreement, that due to technical faults and availability of the means of your
          communication that you use to access the website or that which are used by the immigration
          authorities to transmit information may result in temporary unavailability of the services
          or their operations. In such cases, the company is not responsible for the unavailability
          of services. But in any of the above cases, the company will bear the limited financial
          liability for only the amount paid by you for any services you used. The resulting incidental,
          indirect or consequential damages including loss of immigration status or deportation is not
          the responsibility of Usagreencard.online.</p>
        <p>The fundamental tenets of the agreement between you and the company are outlined in this
          agreement are the limitations of the liability or damages. By clicking on “I Agree”
          you agree to these limitations and also fully comprehend that the provided service will
          cease to be provided without them on an economic basis. You also acknowledge that the
          company is not responsible for the submission of your application after a third-party
          act or failure to act.</p>
        <h5><strong>Note</strong></h5>
        <hr>
        <p>The process with the application will be started right after the payment is processed with the agent.
          Your Card will be debited right upon completing your order.</p>
        <p>As the American government legislates the Diversity Via program, it is allowed
          for the government to suspend, suspend, prohibit or cause the program to stop operations.
          In doing so, either permanently or temporarily, the company will not be responsible.
          If any payments are made after any such announcements of stopping of the program,
          no refund will be offered to users.</p>
        <h5><strong>Assuming Risk</strong></h5>
        <hr>
        <p>You agree to use the services and the website at your own risk. Usagreencard.online
          shall not be held accountable to anyone in the case of any injury, indirect or direct,
          by the user of the service or the website. The company will be no responsibility for the
          information displayed on the website or any actions made due to that information.
          By agreeing to this agreement, you also agree to waive off any claims against the company,
          its representatives, affiliates, agents, divisions that may appear upon your usage of the
          service or the site or any information displayed on it.</p>
        <h5><strong>Communications</strong></h5>
        <hr>
        <p>The information was given by the user or anyhow provided to the company will not be treated as confidential
          or proprietary. The full liability is held by the user for any information that he or she may share or provide
          to the company and the company reserves the rights to use that information for any reason or to copy,
          distribute or publish the information given to it. The reasons may include but to no limitation, the
          registration of the Usagreencard.online program. The websites linked to ours are not monitored by us and
          therefore we are not responsible for the information or any content on those websites. The linking to those
          websites or use of information given on those websites on their own liability.</p>
        <p>It must be noted that others may use or collect any information you may provide yourself in your username or
          email address and also in chat rooms, bulletin boards, chat rooms or any other pages that are created by the
          members. This may cause you to receive messages from others that had access to that information. You also
          agree not to post anything in the site’s bulletin board, chat rooms or any other pages created by the members,
          that is unlawful or something that may be considered as offensive, profane, threatening, abusive, vulgar,
          hateful or otherwise objectionable. You also agree not to post anything that is against any law. If any case
          arises against you due to anything that you posted, you will be the only one held responsible and not
          Usagreencard.online or any of its agents, divisions or affiliates.</p>
        <h5><strong>Security</strong></h5>
        <hr>
        <p>Credit card numbers are the only confidential information that we accept from the clients over the Internet.
          Any other non-personal information conveyed to us by you will be treated as non-confidential. By sending us
          this information you acknowledge that Usagreencard.online has used, distribute or transmit this information
          without any restriction. You also agree that we are allowed to use any concepts, ideas or techniques sent to
          us by you.</p>
        <h5><strong>Your responsibility</strong></h5>
        <hr>
        <p>You are responsible for:</p>
        <p>Timely provision of all the required information to Usagreencard.online. Those applicants that miss any
          required information may not be contacted. Also, the application will only be submitted for the green card if
          the information is received on time.
          Making sure that you have gone through the eligibility terms of the diversity program and only if you are
          eligible to enroll in it.
          In order for the clients to completely comprehend and easily read the necessary information, they are advised
          to print the requirements, payment methods, cancellation policies, and transaction data.</p>
        <h5><strong>Refund & Cancellation Policy</strong></h5>
        <hr>
        <p>Only in a week’s time of the purchase date will the client be able to get a refund and within compliance of
          the terms and conditions of the company. The company will take the decision about the refund in complete
          discretion.</p>
        <p>In case the payment was refunded, it will appear in the customer’s card within 31 business days (Depend on
          the customer’s settlement date with their Credit Card company)</p>
        <h5><strong>No Guarantee of outcome</strong></h5>
        <hr>
        <p>By agreeing to the terms and conditions you acknowledge the fact that we do not guarantee the winning of your
          visas. All the application received by the computer undergo random drawing and hence the ones submitted using
          our services have no advantage over the others. Usagreencard.online is not in any way involved in the
          selection or the results of the draws.</p>
        <h5><strong>Use of Service</strong></h5>
        <hr>
        <p>The user is allowed to use the services of Usagreencard.online to prepare a green card program. These
          services may only be used for this purpose only and not any other. You agree to not try to or to access any
          part of the system that is not available for the public use. You are not allowed to allow any other person
          besides yourself to login in our system using your unique user ID and password. You will not allow access to
          it to anyone else. This information is confidential and you may request for us to send you a recovery password
          to the account you provided during the registration stage if you are to forget your information.</p>
        <p>Any damages or intrusion to the data saved by the Usagreencard.online is not liable on the company but
          nonetheless, Usagreencard.online has made every possible effort to make sure the information provided by you
          is secure and confidential.</p>
        <p>All the users who win a green card through us in the DV program are granted a free airline ticket to the
          United States. Restrictions apply.</p>
        <p>The usage of this website is prohibited by anyone who is under the age of 18.</p>
        <h5><strong>Modifications</strong></h5>
        <hr>
        <p>Any feature of the services can be modified or discontinued and Usagreencard.online holds the right to do so
          at any time for any possible reason. It includes the functionality or pricing of the services, content as well
          as the availability of services but is not only limited to that.</p>
        <h5><strong>Immigration Laws</strong></h5>
        <hr>
        <p>If you want to gather information about any particular circumstances by consulting with an immigration
          advisor then you are responsible for it.</p>
        <h5><strong>Trademarks & Copyrights</strong></h5>
        <hr>
        <p>The logos, all trademarks, and service marks that are displayed on the website are the exclusive property of
          Usagreencard.online. Prior written consent of Usagreencard.online is required to use any of these marks and
          you may not use any of the marks without it. The trademark of “Usagreencard.online” is registered to the
          organization of Usagreencard.online. No user can take the liberty to use any of our trademarks without the
          prior written consent.</p>
        <p>Every piece of information this website contains is copyright protected. All the photographs, text,
          illustrations, artwork, logos, music, trademarks, all other content and the service marks are included in the
          copyright protection. The users can display all the content only for personal and non-commercial use. You
          agree not to reproduce, modify, sell, broadcast, publish, distribute or use any of the material otherwise
          without the express written permission.</p>
        <h5><strong>Purchase</strong></h5>
        <hr>
        <p>All our products can be purchased via our call center.
          <br>
          Immigration Book Part 1: (69 USD)
          <br>
          Immigration Book Part 2: (59 USD)
          <br>
          Immigration Book Part 3: (59 USD)
          <br>
          Typing Instructor cd: (49 USD)
          <br>
          Resume maker cd: (49 USD)
          <br>
          Easy English cd: (49 USD)
        </p>
        <p>
          Delivery
          <br>
          The address that you have supplied to us serves as the place of delivery.
          <br>
          We will deliver accepted orders as indicated here, within 14 business days of acceptance unless a longer
          delivery period has been agreed.
        </p>
        <p>
          Returns
          <br>
          We gladly accept returns for all products within 30 days of purchase. Returned products must be new and
          unused.(close box / not used)
          Please note:
          <br>
          • The Return Policy is neither a trial period nor an extension of any warranty and damage claim period.
          <br>
          • Opening a box to verify contents does not disallow a return. Products showing signs of use or missing inner
          packaging are not considered new, and are thus non-returnable.
          <br>
          • The condition and packaging of a returned product must be as it was when received, complete with all
          original packaging.
          <br>
          • Please be careful when opening your item(s) so that you can get a refund should the item not be what you
          imagined.
          <br>
          • All return shipping charges and materials are your responsibility.
          <br>
          • The original shipping charges or express shipping charges are non-refundable.
          <br>
          • If you refuse the delivery of a package, you’ll be charged for return shipping, (and in case of free
          shipping also for the original shipping costs).
        </p>
        <h5><strong>Customs holds</strong></h5>
        <hr>
        <p>In case there is a custom hold, you will be required to resolve the matter by communicating directly with the
          customs department of your country. We will do our best to provide you with the additional documents required
          in order to get the necessary clearance for your goods. Please note that the customs department of your
          country can hold the goods indefinitely and in most cases, the decision is not subject to appeal. However, in
          the majority of the cases, it takes a period of 1 day to 6 months until the goods are released.</p>
        <p>If the goods were not allowed to enter then the shipment will either be destroyed or shipped back to
          <a href="{% url 'pages_app:home' %}">usagreencard.online</a>
        </p>
        <p>The users will not get a refund or entitled to it if:</p>
        <br>
        •The user refuses to accept the goods.
        <br>
        •For being in a restricted category, goods could not clear the customs department.
        <br>
        •The user refuses to pay and accept the applicable taxes that are associated with the import procedure.
        <br>
        •The user is unable to accept the goods because it is in direct contradiction to the laws in that country (like
        not having the import license for the goods).
        <br>
        •We already notified the increased risk of delivery problems but the user insisted and explicitly agreed to
        proceed.
        <h5><strong>Jurisdictions</strong></h5>
        <hr>
        <p>Legal Restrictions – Laws regarding financial contracts are not same everywhere around the world so without
          limiting the mentioned provisions, the responsibility is yours’ to ensure that you comply with any law
          properly and with the guidelines and regulations of your country of residence in regard to using the website.
          To clear the doubts, the ability to access our site to use our services or your activities through the site
          does not necessarily mean that it is legal under the laws or directives and regulations of your home
          country.</p>
        <h5><strong>Miscellaneous</strong></h5>
        <hr>
        <p>Usagreencard.online hold the right to terminate your access immediately to our services if we discover that
          you are in violation of this agreement.</p>
        <p style="margin-bottom: 50px">Amerigo Marketing LTD. Our office is located in 82 Athinon | Akinita lerad Mitropoleos | Office 206, 3040 |
          Limassol, Cyprus.</p>
      </div>
    </div>
  </div>
{% endblock %}
