{% extends "base.html" %}
{% load static i18n %}

{% block content %}
  <img class="bg-style" src="{% static 'images/6-banner.webp' %}">
  <div class="container">
    <h1 class="title-style">Testimonials</h1>
    <div class="row">
      <div class="col-sm-12" style="border-bottom: black dashed 1px">
        <div class="col-sm-3" style="float: left">
        </div>
        <div class="col-sm-9" style="float: right">
          <p>Thank you <a href="{% url 'home' %}">usagreencard.online</a> for making it possible for me
            to get into the
            United States. I am really excited about my new life. <strong>(Gennifer L., Bulgaria)</strong></p>
        </div>
      </div>
      <div class="col-sm-12" style="border-bottom: black dashed 1px">
        <div class="col-sm-3" style="float: left">
        </div>
        <div class="col-sm-9" style="float: right">
          <p>Hey <a href="{% url 'home' %}">usagreencard.online</a> I would like to appreciate you for all the help you
            provided me. The information you provided was really helpful and now I am able to achieve my dream.
            Thank you!!<strong>(Geoff R., Jordan)</strong></p>
        </div>
      </div>
      <div class="col-sm-12" style="border-bottom: black dashed 1px">
        <div class="col-sm-3" style="float: left">
        </div>
        <div class="col-sm-9" style="float: right">
          <p>I am really grateful for the help <a href="{% url 'home' %}">usagreencard.online</a>has provided me. I have been given a chance
            to win a green card to the United States, where I will experience new life and learn new skills.
            It just feels like a dream come true. <strong>(Chloe P., Netherlands)</strong></p>
        </div>
      </div>
      <div class="col-sm-12" style="border-bottom: black dashed 1px">
        <div class="col-sm-3" style="float: left">
        </div>
        <div class="col-sm-9" style="float: right">
          <p>I fell in love with the United States when I visited it for the first time a few years
            ago as a student, I couldn’t wait to go back and stay in this beautiful
            country. <a href="{% url 'home' %}">usagreencard.online</a> helped me achieve my dream of becoming a U.S. citizen.
            The team was really helpful and the process was easy. <strong> (Pauline H., Ireland)</strong></p>
        </div>
      </div>
      <div class="col-sm-12" style="border-bottom: black dashed 1px">
        <div class="col-sm-3" style="float: left">
        </div>
        <div class="col-sm-9" style="float: right">
          <p>Dear <a href="{% url 'home' %}">usagreencard.online</a></p>
          <p>I just wanted to send a personal note of gratitude and appreciation for all the help and guidance.
            I never even dreamed of having the chance to live in America and entering the green card program
            seemed like a longshot and very confusing. All thanks to you and your dedication and help that
            everything went smoothly. I was lucky enough to be one of the lottery winners.
            <strong>(Gertrude P., South Africa)</strong></p>
        </div>
      </div>
      <div class="col-sm-12" style="border-bottom: black dashed 1px">
        <div class="col-sm-3" style="float: left">
        </div>
        <div class="col-sm-9" style="float: right">
          <p>Thank you for all the help <a href="{% url 'home' %}">usagreencard.online</a>I am so glad that I chose to work with you.
            The process was simple and I was kept informed the whole time by email and phone so everything was
            perfect throughout the process. I would surely recommend your services.
            <strong>(Gloria B., UK)</strong></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
